<div class="container scroll_section" style="margin 50px auto">
  <div class="row">
    <div class="col">
      <p class="text-center"> 
        <span>Hola {{ usuario }}!</span>
        <a href="/admin/login" class="btn btm-sm btn-danger">Cerrar sesión<i class="fas fa-sign-out-alt"></i></a>
      </p>
    </div>
  </div>
</div>