<!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> -->

<div class="container-fluid">  <!-- INICIO Error -->  
  <div id="error404" class="row align-items-center error404">
    <div class="col-lg-5 offset-lg-4 pb-0">
      <br><br><br><br><br><br> <br><br><br><br><br><br><br><br>
      <p>Acá tenemos un link que puede ser útil 
        <a class="btn btn-success btn-lg" href="/"> VOLVER A HOME </a></p>
    </div>
  </div>
</div>   <!-- FIN Error -->