
<div class="container-fluid">  <!-- INICIO Gracias -->  
  <div id="gracias" class="row align-items-center gracias">
    <div class="col-lg-5 offset-lg-4 pb-0">      
      <p>Mensaje enviado correctamente. Te invitamos a coontinuar conociéndonos!  
        <a class="btn btn-success btn-lg" href="/">VOLVER A HOME </a></p>
    </div>
  </div>
</div> <!-- FIN Gracias -->