
<div class="container-fluid">  <!-- INICIO Gracias -->  
  <div id="gracias" class="row align-items-center gracias">
    <div class="col-lg-5 offset-lg-4 pb-0">      
      <p>Mensaje enviado correctamente!. <br> 
         Te invitamos a continuar conociéndonos: 
        <a class="btn btn-success btn-md" href="/">VOLVER A HOME </a></p>
        <br><br><br><br><br><br>
    </div>
  </div>
</div> <!-- FIN Gracias -->