<main class="main bg-gradient-gray-white">
  
      <section id="Home carousel Hero"> <!--HOME Hero image INICIO-->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
          </div>
          
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="1000">
              <img src="/images/hero-images-1b.png" class="d-block w-100" alt="hero-images-1">
            </div>
            <div class="carousel-item" data-interval="1000">
              <img src="/images/hero-images-2b.png" class="d-block w-100" alt="hero-images-2">
            </div>
            <div class="carousel-item" data-interval="1000">
              <img src="/images/hero-images-3b.png" class="d-block w-100" alt="hero-images-3">
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section> <!--HOME hero image FIN-->

      <div class="container">
        <section id="Home Container" class="row align-items-md-center mb-5"><!--HOME Container INICIO-->
          <article class="col-12 col-lg-5">
            <h2>Do you need a marketing strategy?</h2>
            <p class="fs-5"> Get more traffic. Acquire more customers. Grow yours Sales in 2023. We work for businesses of all sizes.
            </p>
            <a class="btn btn-primary btn-lg rounded-5" href="/marketing" role="button">Learn more</a>
          </article>

          <article class="col-12 col-lg-7">    
            <img class="img-fluid pt-5" src="/images/header-mkt.png" width="90%" alt="header-marketing"/>
          </article>

          <article class="col-12 col-lg-5 order-lg-1">
            <h2>Mobile-Friendly Websites</h2>
            <p class="lead">Online presence involves creating a website whith: <em> Readability, Usability, Speed, 
            Responsive design, Clear Call-to-Action, Simple mobile-Navigation, and Usable Forms </em>to makes the sales process easy.
            </p>
            <a class="btn btn-primary btn-lg rounded-5" href="/webDevelopment#webDevelopment" role="button">Learn more</a>
          </article>

          <article class="col-12 col-lg-7">
            <img class="img-fluid" src="/images/header-image.png" width="80%" alt="Mobile-Friendly Websites"/>
          </article>
        </section> <!--HOME Container FIN-->

        <section id="Home services" class="row align-items-md-center min-vh-100">  <!--HOME Services INICIO-->
          <div class="text-center">
            <h4><i>Let us help you reach your target audience fast and effectively.</i></h4>
          </div>
          <article class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card mx-auto mb-3" style="width: 18rem;">
              <img src="/images/icon.marketing.png" class="card-img-top bg--second-color" alt="Digital Marketing">
              <div class="card-body">
                <h5 class="card-title">Digital Marketing</h5>
                <p class="card-text">20+ years of experience delivering results for businesses of all sizes.</p>
                <a href="/marketing" class="btn btn-primary rounded-5">Learn more...<i class="bi bi-chevron-double-right"></i>
                </a>
              </div>
            </div>
          </article>

          <article class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card mx-auto" style="width: 18rem;">
              <img src="/images/icon-social-estrategist.png" class="card-img-top bg--second-color" alt="Social Media">
              <div class="card-body">
                <h5 class="card-title">Social strategy</h5>
                <p class="card-text">15+ years improving effective customer engagement strategies.</p>
                <a href="/socialMedia" class="btn btn-primary rounded-5">Learn more...<i class="bi bi-chevron-double-right"></i></a>
              </div>
            </div>
          </article>
       
          <article class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card mx-auto" style="width: 18rem;">
              <img src="/images/icon-e-commerce.png" class="card-img-top bg--second-color" alt="E-commerce">
              <div class="card-body">
                <h5 class="card-title">E-commerce</h5>
                <p class="card-text">Combining data + BI to reach the right audience for your goal.</p>
                <a href="/webDevelopment#eCommerce" class="btn btn-primary rounded-5">Learn more...<i class="bi bi-chevron-double-right"></i></a>
              </div>
            </div>
          </article>

          <article class="col-12 col-md-6 col-lg-3 d-flex">
            <div class="card mx-auto" style="width: 18rem;">
              <img src="/images/icon-web-development.png" class="card-img-top bg--second-color" alt="Web Development">
              <div class="card-body">
                <h5 class="card-title">Web Development</h5>
                <p class="card-text">We offer the finest tailor website to your specific business goals.</p>
                <a href="/webDevelopment#webDevelopment" class="btn btn-primary rounded-5">Learn more...<i class="bi bi-chevron-double-right"></i></a>
              </div>
            </div>
          </article>
        </section> <!--HOME Services FIN-->
      </div> 
    </main>