<main class="pt-5 bg-gradient-gray-white">
  <div id="thanks" class="row pt-2 align-items-end text-center thanks-hero">
    <div class="col-lg-12 pt-5 pb-1">
      <p>Thanks for contact MGA Marketing + Development. We received your
        message.<br />
        You’ll also receive a message in your email inbox.<br /><br />
        <a class="btn btn-primary btn-lg rounded-5" href="/">Back to
          Home</a></p>
    </div>
  </div>
</main>