<main class="pt-0 bg-gradient-gray-white">

  <section id="webDevelopment" class="scroll_section">
    <!-- INICIO Web development -->
    <div class="container-fluid">
      <div class="row align-items-center web-development-hero">
        <div class="col-lg-4 offset-lg-3">
          <h3>Websites Development</h3><br />
          <p>We offer the finest tailor website design.</p>
          <ul>
            <i class="bi bi-check-circle"> Business Website Solutions</i><br />
            <i class="bi bi-check-circle"> Corporate Website</i><br />
            <i class="bi bi-check-circle"> Responsive design</i><br />
            <i class="bi bi-check-circle"> Website Maintenance</i><br />
            <i class="bi bi-check-circle"> Custom Development </i><br />
            <i class="bi bi-check-circle"> End-to-end solutions</i><br />
          </ul>
          <br />
          <a class="btn btn-primary rounded-5" href="/letsStart">Let's start
            now!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN Web development -->

   <!-- INICIO e-Commerce -->
  <section id="eCommerce" class="scroll_section">
    <div class="container-fluid"> 
      <div class="row align-items-center e-commerce-hero">
        <article class="pt-0 col-12 col-lg-7 offset-lg-3">
          <h3>eCommerce Development</h3>
          <p>20+ years combining data + business intelligence to reach the right audience.</p>
          <ul>
            <i class="bi bi-check-circle"> Design strategy</i><br />
            <i class="bi bi-check-circle"> UX/UI website Design</i><br />
            <i class="bi bi-check-circle"> Catalog Site</i><br />
            <i class="bi bi-check-circle"> Interactive Design</i><br />
            <i class="bi bi-check-circle"> Clear Call-to-Action </i><br />            
            <i class="bi bi-check-circle"> E-commerce B2B + B2C</i><br />
          </ul><br />
          <br />
          <div class="col text-start">
            <a class="btn btn-primary rounded-5" href="/letsStart">Let's start
              now!</a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- INICIO  mobile-app -->
  <section id="mobileApp" class="scroll_section">
    <div class="container-fluid"> 
      <div class="row align-items-center mobile-app-hero">
        <article class="col-12 col-lg-7 offset-lg-3">
          <h3>Mobile App Development</h3>
          <p class="my-2">
            We focus on your goals. We are ready to develop the right mobile
            applications for your business.</p><br />
          <div class="row mb-2">
            <!--"mb-2" margin botom margen de abajo. O margin top "mt"-->
            <div class="col">
              <p class="fs-5"><b>Hybrid Mobile Development</b></p>
              <!--"my-4" Aplica margin arriba y abajo. "fs-5" font size 5 -->
              <ul class="">
                <i class="bi bi-check-circle">
                  Same code is used for iPhone and Android</i><br />
                <i class="bi bi-check-circle">
                  Hybrid dev reduces development time and cost.</i><br />
                <i class="bi bi-check-circle"> Hybrid App Maintenance</i><br />
                <i class="bi bi-check-circle"> Hybrid App Migration</i><br />
              </ul>
            </div>
          </div>
          <a class="btn btn-primary rounded-5" href="/letsStart">Let's start
            now!</a>
        </article>
      </div>
    </div>
  </section>

</main>