html{
  scroll-behavior: smooth;
  box-sizing: border-box; 
  font-size: 15px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body{
  margin:0px;
}

/* CABECERA  */

.header {
  background-color: rgb(208, 137, 230);
  width: 100%;
  height: 50px;
}

.sticky-top{
  position: sticky;
  top: 0;
}

.hero-image{
  
}

p{
  color:black;
  font-family: sans-serif;
}

/* IMÁGENES  */

img{
  max-width: 100%;  
  height: auto;
  display: block;
  margin: auto;
}


/* TÍTULOS h1, h2, h3, h4  */
h1{
  color:rgb(163, 15, 102);
  font-family: sans-serif;
}

h2{
  color:black;
  font-family: sans-serif;
}

h3{
  color:black;
  font-family: sans-serif;
}

h4{
  color: black;
  font-family: sans-serif;
  background-color: #cecece;
  border: thin solid rgb(163, 15, 102);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  margin: 20px 10px;
}

li{
  color: black;
  font-family: Arial;
}

#textos{	
  background:white;
  margin-top:20px;
}


#fijo {
  position: fixed;
  top: 0px;
  background-color: #e7e3e3;
  height:20px;
  width: 100%; /* lo damos formas de botonera*/
}

#contacto *:required {
  border-color: blue;
  border-bottom: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 4px 26px 5px;
}

/*FORMULARIOS DE CONTACTO:  */

.contacto-form{
	width:350px;
	padding: 15px;
	border-radius:10px;
	margin:10px;
	background-color:#ccc;
  font-family: sans-serif;
  font-size: medium;
}

.contacto-form label{
	width:70px;
	font-weight: lighter;
	display:inline-block;
}

.contacto-form input[type="text"],
.contacto-form input[type="tel"]{
	width: 245px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

.contacto-form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:20px;
  border:1px solid gray;
	border-radius:5px;
	display:block;
	color:white;
  font-weight: bold;
	background-color: gray;
} 

.contacto-form input[type="submit"]:hover{
	cursor:pointer;
}

.contacto-form textarea{
	width:100%;
	height:125px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
  margin-top:15px;
  margin-bottom: 15px;
}

/*FOMULARIOS DE HORARIO:  */
.form-horario {
  display: block;
  margin-top: 0em;
}
