<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Index | Marina Aguirre</title>
    <meta name="description" content="MGA Marketing + Development | We specialize in digital marketing, web development, e-Commerce, social media | 20+ years of experience delivering results for clients whit businesses of all sizes."/>

 <!-- Cdn de BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <!-- Google Fonts | Raleway -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Stylesheet propia almacenada en Visual Studio -->    
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicom-ligth.png">
  </head>
  
  <body>
      <!-- En la class de la "Barra de navegación" (navbar) se expande desde el tamaño medium (md) de media query estipulado por Bootstrap,
      se aplican los estilos pre-configurados de Bootstrap "navbar-dark", y
      el background (bg) color es el dark que indicamos en la style-bootstrap.css -->  
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="/images/logo-marina-dark2.png" alt="Marina Aguirre - Marketing + Web development"></a>

      </div>
    </nav>

     {{{body}}}

    <footer class="bg-dark p-3">
      <div class="container text-center">
        <nav class="d-flex justify-content-around">
          <a href="https://www.facebook.com/Marina.Guadalupe.Aguirre" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook fs-3"></i></a> <!--f3 es font size tamaño 3.-->
          <a href="https://www.instagram.com/marina_aguirre_007/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram fs-3"></i></a>
          <a href="https://www.linkedin.com/in/marina-aguirre-3652a410/?" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin fs-3"></i></a>
          <a href="https://api.whatsapp.com/send?phone=543512463603" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp fs-3"></i></a> 
        </nav>
        <small class="text-white"> &COPY; Copyright 2023  -  MGA Marketing + Development</small>
      </div>
    </footer>
 
  </body>
</html>