<section id="e-commerce" class="">
  <!-- INICIO e-Commerce -->
  <div class="container-fluid">
    <div class="row align-items-center e-commerce-hero">
      <article class="pt-0 col-12 col-lg-7 offset-lg-5">
        <h3>eCommerce Development</h3>
        <p>
          20+ years combining data + business intelligence to reach the right
          audience.</p>
        <ul>
          <i class="bi bi-check-circle"> Design strategy</i><br />
          <i class="bi bi-check-circle"> UX/UI website Design</i><br />
          <i class="bi bi-check-circle"> Catalog Site</i><br />
          <i class="bi bi-check-circle"> Interactive Design</i><br />
          <i class="bi bi-check-circle"> Clear Call-to-Action </i><br />
          <i class="bi bi-check-circle"> E-commerce B2B + B2C</i><br />
        </ul><br />
        <br />
        <div class="col text-start">
          <a class="btn btn-primary rounded-5" href="/letsStart">Let's
            start now!</a>
        </div>
      </article>
    </div>
  </div>
</section>
<!-- FIN e-Commerce -->