<main class="bg-gradient-gray-white">
  <!-- INICIO Error 404 -->
  <div class="container-fluid">
    <div
      id="error-404"
      class="row pt-2 align-items-end text-center error-404-hero">
      <div class="col-lg-12 pb-4">
        <p>
          We looked everywhere for this page, but doesn't exist.<br />
          We'll try to keep our feet together next time.
          <a class="btn btn-primary btn-lg rounded-5" href="/">Back to
            Home</a></p>
      </div>
    </div>
  </div>
  <!-- FIN Error 404 -->
</main>