<section id="mobile-app" class="">
  <!-- INICIO  mobile-app -->
  <div class="container-fluid">
    <div class="row align-items-center mobile-app-hero">
      <article class="col-12 col-lg-7 offset-lg-2">
        <h3>Mobile App Development</h3>
        <p class="my-2">
          We focus on your goals. We are ready to develop the right mobile
          applications for your business.</p><br />
        <div class="row mb-2">
          <!--"mb-2" margin botom margen de abajo. O margin top "mt"-->
          <div class="col">
            <p class="fs-5"><b>Hybrid Mobile Development</b></p>
            <!--"my-4" Aplica margin arriba y abajo. "fs-5" font size 5 -->
            <ul class="">
              <i class="bi bi-check-circle">
                Same code is used for iPhone and Android</i><br />
              <i class="bi bi-check-circle">
                Hybrid dev reduces development time and cost.</i><br />
              <i class="bi bi-check-circle"> Hybrid App Maintenance</i><br />
              <i class="bi bi-check-circle"> Hybrid App Migration</i><br />
            </ul>
          </div>
        </div>
        <a class="btn btn-primary rounded-5" href="/letsStart">Let's start now!</a>
      </article>
    </div>
  </div>
</section>
<!-- FIN  Mobile-app-->