<main class="pt-0 bg-gradient-gray-white min-vh-100">
  <div class="container-fluid">
    <!-- INICIO Social Media Hero image -->
    <div
      id="social-media-hero-image" class="row align-items-center social-media-hero">
      <div class="col-lg-5 offset-lg-2">
        <h3>Social Media</h3><br />
        <i class="bi bi-check-circle">
          15+ years of experience in Social Media</i><br />
        <i class="bi bi-check-circle">
          We love improving customer engagement.</i><br />
        <i class="bi bi-check-circle">
          We help your business develop brand awareness (followers)</i><br />
        <i class="bi bi-check-circle">
          Will help you build relationships and exposure.</i><br />
      </div>
    </div>
    <!-- FIN Social Media Hero image -->

    <div
      id="social-media-services"
      class="row align-items-stretch staff py-5 scroll_section">
      <!-- INICIO Social Media Services -->
      <div class="col-lg-8 offset-lg-2">
        <h3></h3>
        <div class="row row-cols-1 row-cols-md-4 g-3">

          <div class="col">
            <div class="card">
              <img src="/images/community-building.png"
                class="card-img-top" alt="Community building"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/monitoring-moderation.png"
                class="card-img-top" alt="Monitoring moderation"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/social-media-ads.png"
                class="card-img-top" alt="Social media ads"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/community-engagement.png"
                class="card-img-top" alt="Community engagemen"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/social-media-management.png"
                class="card-img-top" alt="Social media management"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/original-content.png" class="card-img-top" alt="Original content"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                  <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/custom-strategy.png" class="card-img-top" alt="Custom strategy"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="/images/reporting-analysis.png" class="card-img-top" alt="Reporting analysis"/>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-center">
                <a class="btn btn-primary btn-lg rounded-5" href="/letsStart">Let’s start now!</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- FIN div Social Media Services -->
  </div>
</main>