<main class="pt-0 bg-gradient-gray-white">
  <section id="web-development">
    <!-- INICIO Web development -->
    <div class="container-fluid">
      <div class="row align-items-center web-development-hero">
        <div class="col-lg-4 offset-lg-2">
          <h3>Websites Development</h3><br />
          <p>We offer the finest tailor website design to your specific business
            goals.</p>
          <ul>
            <i class="bi bi-check-circle"> Business Website Solutions</i><br />
            <i class="bi bi-check-circle"> Corporate Website</i><br />
            <i class="bi bi-check-circle"> Responsive design</i><br />
            <i class="bi bi-check-circle"> Website Maintenance</i><br />
            <i class="bi bi-check-circle"> Custom Development </i><br />
            <i class="bi bi-check-circle"> End-to-end solutions</i><br />
          </ul>
          <br />
          <a class="btn btn-primary rounded-5" href="/letsStart">Let's start now!</a>
        </div>
      </div>
    </div>
  </section>
  <!-- FIN Web development -->
</main>